<form [formGroup]="regForm">
    <section class="section-form d-flex margin-top justify-content-center">
        <div class="form-container">
            <div class="section-heading text-center">
                <div class="hr"></div>
                <span class="lead">HELLO THERE</span>
                <div>
                    <h2>Welcome to Eagles Registration Page, <br>your journey starts here.</h2>
                </div>
            </div>
            <h1 style="color: #1aab60; text-align: center; margin-bottom: 2rem;">
                Enrollment Form
            </h1>
            <!-- Bio Data Section -->
            <div id="contact_form" class="form-section">
                <div class="form-section">
                    <h2 class="form-heading">Bio Data</h2>
                    <div class="form-grid ">
                        <input formControlName="fName" type="text" placeholder="Firstname*" class="form-control" />
                        <input formControlName="lName" type="text" placeholder="LastName*" class="form-control" />
                        <input formControlName="otherName" type="text" placeholder="Other Name* (Optional)"
                            class="form-control" />
                        <input formControlName="dob" type="text" placeholder="Date of Birth*" class="form-control" />
                        <select2 [data]="formGender" customSearchEnabled (search)="_search($event)"
                            formControlName="gender" class="form-control" placeholder="Select Gender"></select2>
                    </div>
                </div>
            </div>
            <!-- Contact Details -->
            <div class="form-section">
                <h2 class="form-heading ">Contact Details</h2>
                <div class="form-grid">
                    <input formControlName="phone" type="tel" placeholder="Phone Number*" class="form-control" />
                    <input formControlName="email" type="email" placeholder="Email*" class="form-control" />
                    <select2 [data]="formCountry" customSearchEnabled (search)="_search($event)"
                        formControlName="nationality" placeholder="Select Country" class="form-control"></select2>
                    <select2 [data]="formState" customSearchEnabled (search)="_search($event)"
                        formControlName="stateOfOrigin" placeholder="State of Origin" class="form-control">
                    </select2>
                    <select2 [data]="formState" customSearchEnabled (search)="_search($event)"
                        formControlName="stateOfResidence" placeholder="State of Residence" id="Select2"
                        class="form-control select2">
                    </select2>
                    <textarea formControlName="address" placeholder="Residential Address*" rows="3"
                        class="form-control"></textarea>
                </div>
            </div>
            <!-- Program Details -->
            <div class="form-section">
                <h2 class="form-heading">Program Details</h2>
                <div class="form-grid">
                    <select2 [data]="formProgram" customSearchEnabled (search)="_search($event)"
                        formControlName="programType" placeholder="Select Program" class="form-control"> </select2>


                    <!-- <select2 [data]="formDays" customSearchEnabled (search)="_search($event)"
                        formControlName="preferredDays" placeholder="Preferred Days" class="form-control"></select2> -->

                    <select2 [data]="formLocation" customSearchEnabled (search)="_search($event)"
                        formControlName="preferredLocation" placeholder="Preferred Location" class="form-control">
                    </select2>

                    <div class="checkbox-group row">
                        <h5>Preffered day of learning</h5>
                        <label class="" *ngFor="let day of dayList">
                            <input type="checkbox">
                            {{ day }}
                        </label>
                    </div>

                </div>
            </div>
            <!-- Course Selection -->
            <div class="form-section form-grid">
                <div class="course-group">
                    <h2 class="form-heading">Course Selection</h2>
                    <h2>Core Courses<br> (Max-1)</h2>
                    <div class="checkbox-group">
                        <label><input type="checkbox" formControlName="coreCourse"> Music Theory</label>
                        <label><input type="checkbox" formControlName="coreCourse"> Rhythm Lessons</label>
                    </div>
                </div>
                <!-- Breadth Courses -->
                <div class="course-group">
                    <h2>Breadth Courses<br> (Max-1)</h2>
                    <div class="radio-group">
                        <label><input type="radio" formControlName="breadthCourse" value="Confidence Building">
                            Confidence
                            Building</label>
                        <label><input type="radio" formControlName="breadthCourse" value="Communication Skills">
                            Communication
                            Skills</label>
                        <label><input type="radio" formControlName="breadthCourse" value="Ethics,
                        Civility
                        & Etiquettes">Ethics,
                            Civility
                            & Etiquettes</label>
                    </div>
                </div>
                <div class="course-group">
                    <h2>Elective Courses<br> (Max-1)</h2>
                    <div class="radio-group">
                        <label><input type="radio" formControlName="electiveCourse" value="Karate"> Karate
                        </label>
                        <label><input type="radio" formControlName="electiveCourse" value="Dance"> Dance
                        </label>
                        <label><input type="radio" formControlName="electiveCourse" value="Confidence Building">Arts and
                            Crafts
                        </label>
                    </div>
                </div>
                <div class="course-group">
                    <h2>Selective Courses<br> (Max-2)</h2>
                    <div class="checkbox-group">
                        <label *ngFor="let course of selectiveCourses">
                            <input type="checkbox" formControlName="selectiveCourses">
                            <!-- <input type="checkbox" [checked]="selectedCourses.includes(course)"
                                [disabled]="!selectedCourses.includes(course) && selectedCourses.length >= 2"
                                (change)="toggleSelection(course)" formControlName="selectiveCourse"> -->
                            {{ course }}
                        </label>
                    </div>
                </div>
            </div>
            <div class="p-5 d-flex justify-content-center ">
                <button type="submit" (click)="submit()">Submit Application</button>
            </div>
        </div>
    </section>
</form>