<section class="section-form" [formGroup]="RegistrationForm" (ngSubmit)="onSubmit()">
    <div class="form-container">
        <h1 style="color: rgb(26, 171, 96); text-align: center; margin-bottom: 2rem;">
            The Eagles Music Academy Enrollment
        </h1>

        <!-- Bio Data Section -->
        <div class="form-section">
            <h2 class="form-heading">Bio Data</h2>
            <div class="form-grid">
                <input formControlName="surname" type="text" placeholder="Surname*" class="form-control" required />
                <input formControlName="name" type="text" placeholder="Name*" class="form-control" required />
                <input formControlName="otherName" type="text" placeholder="Other Name*" class="form-control"
                    required />
                <input formControlName="dob" type="text" placeholder="DD/MM/YY*" class="form-control" required />
                <select formControlName="gender" required>
                    <option value="" disabled selected>Select Gender*</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
        </div>

        <!-- Contact Details -->
        <div class="form-section">
            <h2 class="form-heading">Contact Details</h2>
            <div class="form-grid">
                <input formControlName="phone" type="tel" placeholder="Phone Number*" required />
                <input formControlName="email" type="email" placeholder="Email*" required />
                <!-- 
                <select formControlName="stateOfResidence" required>
                    <option value="">Select State</option>
                </select> -->



                <input list="states" id="state" formControlName="stateOfResidence" placeholder="State*">

                <datalist id="states">
                    <option *ngFor="let state of statesList" [value]="state"></option>
                </datalist>
                <!-- 
                <select formControlName="nationality" required>
                    <option *ngFor="let country of countryList" [value]="country">{{country}}</option>
                </select> -->


                <input list="countries" id="nationality" formControlName="nationality" placeholder="Nationality*">
                <datalist id="countries">
                    <option *ngFor="let country of countryList" [value]="country"></option>
                </datalist>


                <!-- <select formControlName="stateOfOrigin" required>
                    <option value="">Select State</option>
                </select> -->

                <textarea formControlName="address" placeholder="Residential Address*" rows="3" required></textarea>

            </div>
        </div>

        <!-- Program Details -->
        <div class="form-section">
            <h2 class="form-heading">Program Details</h2>
            <div class="form-grid">



                <input list="programs" id="programType" formControlName="programtype" placeholder="Program Type*">
                <datalist id="programs">
                    <option *ngFor="let program of programList" [value]="program"></option>
                </datalist>

                <!-- 
                <select formControlName="programType" required>
                    <option value="">Select Program</option>
                    <option>Home Lesson</option>
                    <option>Virtual Lesson</option>
                    <option>Group Lesson</option>
                </select> -->

                <select formControlName="preferredLocation" required>
                    <option value="">Select Location</option>
                    <option>Home</option>
                    <option>Virtual</option>
                    <option>Centre</option>
                </select>

                <select formControlName="preferredDays" required>
                    <option value="">Select Days</option>
                    <option>Monday</option>
                    <option>Tuesday</option>
                    <option>Weekends</option>
                </select>

            </div>
        </div>

        <!-- Course Selection -->
        <div class="form-section form-grid">
            <div class="course-group">
                <h2 class="form-heading">Course Selection</h2>
                <h2>Core Courses<br> (Max-1)</h2>
                <div class="checkbox-group">
                    <label><input type="checkbox" checked disabled> Music Theory</label>
                    <label><input type="checkbox" checked disabled> Rhythm Lessons</label>
                </div>
            </div>

            <!-- Breadth Courses -->
            <div class="course-group">
                <h2>Breadth Courses<br> (Max-1)</h2>
                <div class="radio-group">
                    <label><input type="radio" formControlName="breadthCourse" value="Confidence Building"> Confidence
                        Building</label>
                    <label><input type="radio" formControlName="breadthCourse" value="Communication Skills">
                        Communication
                        Skills</label>
                    <label><input type="radio" formControlName="breadthCourse" value="Ethics,
                        Civility
                        & Etiquettes">Ethics,
                        Civility
                        & Etiquettes</label>
                </div>
            </div>

            <div class="course-group">
                <h2>Elective Courses<br> (Max-1)</h2>
                <div class="radio-group">
                    <label><input type="radio" formControlName="electiveCourse" value="Karate"> Karate
                    </label>
                    <label><input type="radio" formControlName="electiveCourse" value="Dance"> Dance
                    </label>
                    <label><input type="radio" formControlName="electiveCourse" value="Confidence Building">Arts and
                        Crafts
                    </label>
                </div>
            </div>

            <div class="course-group">
                <h2>Selective Courses<br> (Max-2)</h2>
                <div [formGroup]="form">
                    <div formArrayName="selectiveCourses">
                        <label *ngFor="let course of selectiveCourses.controls; let i = index">
                            <input type="checkbox" [formControlName]="i" (change)="onCheckboxChange()"
                                [disabled]="isMaxReached && !course.value" />
                            {{ courseList[i] }}
                        </label>
                    </div>
                </div>
                <!-- <div class="checkbox-group">
                    <label><input type="checkbox"> Violin</label>
                    <label><input type="checkbox"> Piano</label>
                    <label><input type="checkbox"> Guitar</label>
                    <label><input type="checkbox"> Drums</label>
                    <label><input type="checkbox"> Saxophone</label>
                    <label><input type="checkbox"> Voice</label>
                    <label><input type="checkbox"> Trumpet</label>
                </div> -->
            </div>



        </div>
        <div style="text-align: center; margin-top: 2rem;">
            <button type="submit" [disabled]="!RegistrationForm.valid">Submit Application</button>
        </div>
    </div>
</section>





<!-- Selective Courses -->
<!-- <div class="course-group">
                        <h2>Selective Courses <br> (Max-2)</h2>
                        <div class="checkbox-group">
                            <label><input type="checkbox"> Piano</label>
                        </div>
                        <div class="checkbox-group">
                            <label><input type="checkbox"> Violin</label>
                        </div>
                        <div class="checkbox-group">
                            <label><input type="checkbox"> Voice</label>
                        </div>
                        <div class="checkbox-group">
                            <label><input type="checkbox"> Guitar</label>
                        </div>
                        <div class="checkbox-group">
                            <label><input type="checkbox"> Trumpet</label>
                        </div>
                        <div class="checkbox-group">
                            <label><input type="checkbox"> Drums</label>
                        </div>
                        <div class="checkbox-group">
                            <label><input type="checkbox"> Saxophone</label>
                        </div>
                    </div> -->

<!-- Elective Courses -->
<!-- <div class="course-group">
                        <h2>Elective Courses<br> (Max-1)</h2>
                        <div class="radio-group">
                            <label><input type="radio" name="elective"> Dance</label>
                        </div>
                        <div class="radio-group">
                            <label><input type="radio" name="elective"> Karate</label>
                        </div>
                        <div class="radio-group">
                            <label><input type="radio" name="elective"> Arts and Crafts</label>
                        </div>
                    </div> -->