<div class="jumbotron bc-margin-top">
    <div class="bg-overlay p-5 text-center">
        <div class="container p-0 p-md-5">
            <!-- page-title-->
            <h1 class="text-white">Tuition</h1>
            <!-- breadcrumb -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Tuition</li>
                </ol>
            </nav>
            <!--/breadcrumb -->
        </div>
        <!--/container-->
    </div>
    <!--/bg-overlay-->
</div>
<!-- Our Awards and Achievements-->
<div class="container-fluid position-relative pt-5 pb-md-5 bg-color4 ">
    <div class="container">
        <div class="row">
            <div class="col-md-6 p-4">
                <div class="swiper2 p-5 ">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide ">
                            <div>
                                <img class="object-fit-cover " src="img/awards/AWR1.jpg" alt="image" />
                            </div>
                        </div>
                        <div class="swiper-slide ">
                            <div>
                                <img src="img/awards/AWR2.jpg" class="img-fluid" alt="image" />
                            </div>
                        </div>
                        <div class="swiper-slide ">
                            <div>
                                <img src="img/awards/AWR3.JPG" class="img-fluid" alt="image" />
                            </div>
                        </div>
                        <div class="swiper-slide ">
                            <div>
                                <img src="img/awards/AWR4.png" class="img-fluid" alt="image" />
                            </div>
                        </div>
                        <div class="swiper-slide ">
                            <div>
                                <img src="img/awards/AWR5.png" class="img-fluid" alt="image" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 my-auto p-4">
                <span class="lead">Our Awards and Achievements</span>
                <h2>Trails Of Excellence</h2>
                <p>These awards recognize our commitment to excellence in music education and our dedication to
                    nurturing
                    the talents of our students. We're honored to receive these prestigious awards and will continue to
                    strive for greatness.
                </p>
                <ul class="list-unstyled ">
                    <li><i class="fa fa-map-marker margin-icon"></i> <strong>Best Music School in Abuja 2018:
                        </strong>Trailblazers Awards</li>
                    <li><i class="fa fa-map-marker margin-icon"></i> <strong>Award of Excellence 2019:
                        </strong>MUSAN.University of Nigeria </li>
                    <li><i class="fa fa-map-marker margin-icon"></i> <strong>Inspiring Greatness 2021: </strong>Future
                        Award Africa</li>
                    <li><i class="fa fa-map-marker margin-icon"></i> <strong>Golden Achievement Star 2021: </strong>Glee
                        Awards</li>
                    <li><i class="fa fa-map-marker margin-icon"></i> <strong>Award of Excellence 2022: </strong>Sterling
                        Awards </li>
                    <li><i class="fa fa-map-marker margin-icon"></i> <strong>Award of Excellence 2022:
                        </strong>University of Nigeria</li>
                    <li><i class="fa fa-map-marker margin-icon"></i> <strong>Award 2024: </strong>SOMEN AWARDS</li>
                </ul>
            </div>
        </div>
        <!-- /row-->
    </div>
    <!-- /container-->
</div>

<!-- Section Call to Action 2 -->
<section id="call-to-action1" class="container-fluid small-section" data-center="background-position: 50% 0px;"
    data-top-bottom="background-position: 50% -20px;" data-bottom-top="background-position: 50% 20px;">
    <div class="container">
        <!-- card -->
        <div class="res-margin col-lg-5 offset-lg-1 card text-center">
            <h4>Contact Now!</h4>
            <div class="contact-info align-text">
                <p><i class="fa fa-envelope margin-icon"></i><a href="eaglesmusicacademy@gmail.com">{{email}}</a>
                </p>
                <p><i class="fa fa-phone margin-icon"></i><a href="08060519424">Call us 0806-051-9424</a>
                </p>
                <p><i class="fa fa-map-marker margin-icon"></i> Suncity Center: 14 Ontario Crescent, Suncity
                    Estate
                </p>
                <p><i class="fa fa-map-marker margin-icon"></i> Apo Centre: House 15, Ofem Obama Road, CBN
                    Estate</p>
                <p><i class="fa fa-map-marker margin-icon"></i> Gwarinpa Center: 37b Auwalu Anwar Cl,
                    Gwarinpa, 7th
                    Avenue
                    Abuja</p>
                <p><i class="fa fa-map-marker margin-icon"></i>Wuse Center: 159 Aminu Kano Crescent,
                    Raberto,
                    Wuse
                </p>

            </div>
        </div>
        <!-- /card -->
    </div>
    <!-- /container-->
</section>
<!-- /section ends -->

<div class="info-section pt-5 pe-5 pb-md-5">
    <div class="container-fluid me-5">
        <div class="row g-4">
            <div class="col-xl-8 order-1">
                <div class="info-content">
                    <h2>Our Highlights </h2>
                    <h6 class="text-white">Our impressive track record has earned us prestigious invitations to
                        perform
                        at notable events nationwide. These prestigious invitations are a testament to our commitment to
                        excellence in music performance and education including: .</h6>
                    <ul class=" text-white list-unstyled">
                        <li><i class="fas fa-check-circle"></i> The Amnesty International Fiesta
                        </li>
                        <li><i class="fas fa-check-circle"></i> The National Christmas Carol (NCC)
                        </li>
                        <li><i class="fas fa-check-circle"></i> The FRCN/NTA/VON Carol</li>
                        <li><i class="fas fa-check-circle"></i> The State House Presidential Villa </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-2 col-sm-3 order-lg-3 order-2 ">
                <!-- Hidden iframe -->
                <div>
                    <iframe width="570" height="400" src="https://www.youtube.com/embed/qtgMGHGSXFA?si=gvMBy7fyBsBKHhh_"
                        title="YouTube video player" frameborder="10" class="popup-youtube video-icon"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <!-- <img src="https://img.youtube.com/vi/[VIDEO_ID]/maxresdefault.jpg" alt="Video Thumbnail"
                    class="thumbnail"> -->
            </div>
        </div>
    </div>
</div>

<!-- Section team -->
<section id="team" class="container-fluid bg-color4 mt-5">
    <!-- Parallax object -->
    <div class="parallax-object1 d-none d-lg-block" data-0="opacity:1;" data-100="transform:translatey(40%);"
        data-center-center="transform:translatey(-60%);">
        <!-- Image -->
        <img src="img/girl1ornament.png" alt="">
    </div>
    <!-- Section heading -->
    <div class="section-heading text-center">
        <h2>Our Team</h2>
        <!-- divider -->
        <div class="hr"></div>
        <div>
            <p class="text-center">We're proud of our team of experienced and dedicated professionals who
                are passionate about music education.<br> Our team is comprised of veteran musicologists,
                instrumentalists, performing artists, and seasoned music educators.<br> Together, our team
                provides a comprehensive and well-rounded music education experience that fosters
                creativity, talent, and excellence. </p>
        </div>
    </div>
    <div class="container">
        <div id="team-slider" class="owl-carousel">
            <!-- team member1 -->
            <div class="our-team">
                <div class="pic">
                    <!-- picture -->
                    <img src="img/team1.jpg" class="img-fluid rounded-circle" alt="">
                    <!-- Social icons -->
                    <div class="social">
                        <ul class="social-icon">
                            <li><a href="#" class="fab fa-facebook"></a></li>
                            <li><a href="#" class="fab fa-linkedin"></a></li>
                            <li><a href="#" class="fab fa-twitter"></a></li>
                        </ul>
                    </div>
                    <!-- /social -->
                    <div class="team-info">
                        <h4>Julietta Smith</h4>
                        <span class="post">Teacher / Founder</span>
                    </div>
                    <!-- /tem-info -->
                </div>
                <!-- description-->
                <p class="description">
                    Nec facilisis leo sollicitudin sed. Integer egestas porttitor massa, ut dapibus sapien
                    feugiat eget Sed
                    consectetur tortor ut arcu pharetra faucibus. In tristique sollicitudin mi.
                </p>
            </div>
            <!-- /team member ends -->
            <!-- team member2 -->
            <div class="our-team">
                <div class="pic">
                    <!-- picture -->
                    <img src="img/team2.jpg" class="img-fluid rounded-circle" alt="">
                    <!-- Social icons -->
                    <div class="social">
                        <ul class="social-icon">
                            <li><a href="#" class="fab fa-facebook"></a></li>
                            <li><a href="#" class="fab fa-linkedin"></a></li>
                            <li><a href="#" class="fab fa-twitter"></a></li>
                        </ul>
                    </div>
                    <!-- /social -->
                    <div class="team-info">
                        <h4>Marcus Silva</h4>
                        <span class="post">Director</span>
                    </div>
                    <!-- /tem-info -->
                </div>
                <!-- description-->
                <p class="description">
                    Nec facilisis leo sollicitudin sed. Integer egestas porttitor massa, ut dapibus sapien
                    feugiat eget Sed
                    consectetur tortor ut arcu pharetra faucibus. In tristique sollicitudin mi.
                </p>
            </div>
            <!-- /team member ends -->
            <!-- team member3 -->
            <div class="our-team">
                <div class="pic">
                    <!-- picture -->
                    <img src="img/team3.jpg" class="img-fluid rounded-circle" alt="">
                    <!-- Social icons -->
                    <div class="social">
                        <ul class="social-icon">
                            <li><a href="#" class="fab fa-facebook"></a></li>
                            <li><a href="#" class="fab fa-linkedin"></a></li>
                            <li><a href="#" class="fab fa-twitter"></a></li>
                        </ul>
                    </div>
                    <!-- /social -->
                    <div class="team-info">
                        <h4>Lauren Konrad</h4>
                        <span class="post">Teacher</span>
                    </div>
                    <!-- /tem-info -->
                </div>
                <!-- description-->
                <p class="description">
                    Nec facilisis leo sollicitudin sed. Integer egestas porttitor massa, ut dapibus sapien
                    feugiat eget Sed
                    consectetur tortor ut arcu pharetra faucibus. In tristique sollicitudin mi.
                </p>
            </div>
            <!-- /team member ends -->
            <!-- team member4 -->
            <div class="our-team">
                <div class="pic">
                    <!-- picture -->
                    <img src="img/team4.jpg" class="img-fluid rounded-circle" alt="">
                    <!-- Social icons -->
                    <div class="social">
                        <ul class="social-icon">
                            <li><a href="#" class="fab fa-facebook"></a></li>
                            <li><a href="#" class="fab fa-linkedin"></a></li>
                            <li><a href="#" class="fab fa-twitter"></a></li>
                        </ul>
                    </div>
                    <!-- /social -->
                    <div class="team-info">
                        <h4>Lisa Jolie</h4>
                        <span class="post">Teacher</span>
                    </div>
                    <!-- /tem-info -->
                </div>
                <!-- description-->
                <p class="description">
                    Nec facilisis leo sollicitudin sed. Integer egestas porttitor massa, ut dapibus sapien
                    feugiat eget Sed
                    consectetur tortor ut arcu pharetra faucibus. In tristique sollicitudin mi.
                </p>
            </div>
            <!-- /team member ends -->
            <!-- team member5 -->
            <div class="our-team">
                <div class="pic">
                    <!-- picture -->
                    <img src="img/team1.jpg" class="img-fluid rounded-circle" alt="">
                    <!-- Social icons -->
                    <div class="social">
                        <ul class="social-icon">
                            <li><a href="#" class="fab fa-facebook"></a></li>
                            <li><a href="#" class="fab fa-linkedin"></a></li>
                            <li><a href="#" class="fab fa-twitter"></a></li>
                        </ul>
                    </div>
                    <!-- /social -->
                    <div class="team-info">
                        <h4>Milo Lindberg</h4>
                        <span class="post">Teacher</span>
                    </div>
                    <!-- /tem-info -->
                </div>
                <!-- description-->
                <p class="description">
                    Nec facilisis leo sollicitudin sed. Integer egestas porttitor massa, ut dapibus sapien
                    feugiat eget Sed
                    consectetur tortor ut arcu pharetra faucibus. In tristique sollicitudin mi.
                </p>
            </div>
            <!-- /team member ends -->
        </div>
        <!-- /team carousel ends -->
    </div>
    <!-- /container -->
</section>
<!-- /section ends -->