<div class="jumbotron bc-margin-top">
    <div class="bg-overlay p-5 text-center">
        <div class="container p-0 p-md-5">
            <!-- page-title-->
            <h1 class="text-white">Our Courses</h1>
            <!-- breadcrumb -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Courses</li>
                </ol>
            </nav>
            <!--/breadcrumb -->
        </div>
        <!--/container-->
    </div>
    <!--/bg-overlay-->
</div>

<!-- Section Tuition -->
<section id="tuition" class=" p-md-5">
    <!-- <div class="page-header text-center ">
        <h1 class="sub-header">Modules</h1>
        <h6>We offer a wide range of music courses<br> designed to cater to different ages,
            skill levels, and interests.<br> Our
            courses include:
        </h6>
        <div class="hr"></div>
    </div> -->
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="pricingTable">
                    <div class="pricingTable-header">
                        <span class="title">CORE COURSES </span>
                        <span class="month">(Compulsory)</span>
                    </div>
                    <div class="scroll-container">
                        <ul class="pricing-content">
                            <li>Music Theory</li>
                            <li>Rhythm Lessons </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 res-margin">
                <div class="pricingTable">
                    <!-- header -->
                    <div class="pricingTable-header">
                        <span class="title">ELECTIVES COURSES</span>
                        <span class="month">(Choice-Option: One(1))</span>
                    </div>
                    <!-- pricing content -->
                    <div class="scroll-container">
                        <ul class="pricing-content">
                            <li>Dance</li>
                            <li>Karate</li>
                            <li>Arts and Crafts</li>
                        </ul>
                    </div>

                </div>
                <!-- /pricingTable -->
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="pricingTable">
                    <div class="pricingTable-header">
                        <span class="title">BREADTH COURSES</span>
                        <span class="month">(Choice-Option: One(2))</span>
                    </div>
                    <div class="scroll-container">
                        <ul class="pricing-content">
                            <li>Confidence building</li>
                            <li>Basic Acting Skills</li>
                            <li>Ethics, Civility, & Etiquettes </li>
                            <li>Communication Skills</li>
                        </ul>
                    </div>
                </div>
                <!-- /pricingTable -->
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="pricingTable">
                    <!-- Header -->
                    <div class="pricingTable-header">
                        <span class="title">SELECTIVE COURSES</span>
                        <span class="month">(Choice-Option: Two(2))</span>
                    </div>
                    <!-- Scrollable Content -->
                    <div class="scroll-container">
                        <ul class="pricing-content">
                            <li>Piano</li>
                            <li>Violin</li>
                            <li>Guitar</li>
                            <li>Trumpet</li>
                            <li>Voice</li>
                            <li>Drums</li>
                            <li>Saxophone</li>
                            <li>Cello</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /col -->
        </div>
        <!--/row -->
    </div>
    <!--/container -->
</section>
<!-- /section ends-->

<!-- section FAQ -->
<section class=" container">
    <div class="row">
        <div class="col-md-6">
            <span class="lead">well tailored</span>
            <h2>curriculum</h2>
            <h6>With our curriculum, your child will gain a deep understanding and appreciation of music, as well as the
                skills and confidence to excel in their musical journey.</h6>
            <!-- accordion-->
            <div class="accordion mb-3 mb-lg-0" id="accordionExample">
                <!-- accordion item -->
                <div class="accordion-item">
                    <span class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Our comprehensive program aims to develop well-rounded musicians who can:
                        </button>
                    </span>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul class="custom no-margin">
                                <li>Perform with confidence and skill</li>
                                <li>Listen to and appreciate various musical styles and genres</li>
                                <li>Review and analyze music from different historical periods and traditions</li>
                                <li>Evaluate music critically and creatively</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /accordion item -->
                <!-- accordion item -->
                <div class="accordion-item">
                    <span class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Our curriculum prepares students for local and international music certifications on their
                            chosen instruments, covering:
                        </button>
                    </span>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul class="custom no-margin">
                                <li>. Confidence Building: Overcoming Stage-fright and shyness. Encouraging
                                    self-expression and creativity.</li>
                                <li>Contemporary and Classical Music Practice: Mastering various styles and genres on a
                                    chosen instrument.</li>
                                <li>Showmanship: Developing charisma, stage presence and management </li>
                                <li>Music Theory: Understanding the fundamentals of music, including notation, harmony,
                                    and composition.</li>
                                <li>Staff Reading and Sight-Playing: Developing essential music literacy skills,
                                    including reading sheet music.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /accordion-->
        </div>
        <!-- /col-lg-->
        <div class="col-xl-6 margin1 img-effect no-grad ">
            <img src="img/Teaching2.jpg" alt="" class="center-block img-curved img-fluid">
        </div>
        <!-- /box-with-img-->
        <!-- /col-->
    </div>
    <!-- /row -->
</section>
<!-- /section -->



<!-- section Adopt -->
<section class="bg-color5 container">
    <div class="  pt-0 row">
        <div class="section-heading text-center">
            <span class="lead">Begin Your Music Journey Now</span>
            <h2>Levels And Grade</h2>
            <!-- divider -->
            <div class="hr"></div>
            <div>
                <h6 class="text-center">We offer music instruction to students of all ages and skill levels,<br> from
                    beginner to proficient. Our levels and grades are designed to provide <br>a clear pathway for
                    progress
                    and development... </h6>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-5">
            <div class=" p-3 shadow rounded">
                <!-- image -->
                <div class="wrapper-hover img-effect">
                    <a href="about">
                        <img loading="lazy" class="img-fluid rounded " src="petlove/img/beginner.jpg" alt="">
                    </a>
                </div>
                <!-- description -->
                <div class=" pt-2 text-center adopt-wrapper">
                    <div class="mb-3">
                        <h3 class="h4">BEGINNER
                        </h3>
                        <span><strong>(Your Rhythmic Adventure)</strong></span>
                    </div>
                    <div>
                        <p class="align-text scroll-container">
                            <strong>1.Introduction</strong> to music theory and instrument basics.<br>
                            <strong>2.Development</strong> off ndamental skills, such as hand positioning, finger
                            placement,
                            and basic techniques.<br>
                            <strong>3.Simple</strong> songs and exercises to build confidence and familiarity.
                        </p>

                    </div>
                    <!-- button -->
                </div>
            </div>
        </div>
        <!-- /pet -->
        <!-- pet -->
        <div class="col-lg-3 col-sm-6 mb-5">
            <div class=" p-3 shadow rounded">
                <!-- image -->
                <div class="wrapper-hover img-effect">
                    <a href="about">
                        <img loading="lazy" class="img-fluid rounded" src="petlove/img/Intemediate.jpg" alt="">
                    </a>
                </div>
                <!-- animal and gender -->
                <!-- description -->
                <div class=" pt-2 text-center adopt-wrapper">
                    <div class="mb-3">
                        <h3 class="h4">INTERMEDIATE</h3>
                        <span><strong>(Your Rhythmic Adventure)</strong></span>
                    </div>
                    <div>
                        <p class="align-text scroll-container">
                            <strong>1.Expansion</strong> of technical skills, including scales, arpeggios, and chord
                            progressions.<br>
                            <strong>2.Introduction</strong> to more complex repertoire, including classical and
                            contemporary
                            pieces.<br>
                            <strong>3.Focus</strong> on musical expression, phrasing, and dynamics.
                        </p>

                    </div>
                    <!-- button -->

                </div>
            </div>
        </div>
        <!-- /pet -->
        <!-- pet -->
        <div class="col-lg-3 col-sm-6 mb-5">
            <div class=" p-3 shadow rounded">
                <!-- image -->
                <div class="wrapper-hover img-effect">
                    <a href="about">
                        <img loading="lazy" class="img-fluid rounded" src="petlove/img/advance4.jpg" alt="">
                    </a>
                </div>
                <!-- animal and gender -->
                <!-- description -->
                <div class="pt-2 text-center adopt-wrapper">
                    <div class="mb-4">
                        <h3 class="h4">ADVANCE</h3>
                        <span><strong>(Your Rhythmic Adventure)</strong></span>
                    </div>
                    <div>
                        <p class="align-text scroll-container">
                            <strong>1.Refining</strong> techniques, such as tone production, articulation, and pedaling
                            (for pianists).<br>
                            <strong>2.Exploration</strong> of advanced repertoire, including intricate compositions and
                            nuanced interpretations.<br>
                            <strong>3.Emphasis</strong> on performance skills, including stage presence and audience
                            engagement.
                        </p>

                    </div>
                    <!-- button -->
                </div>
            </div>
        </div>
        <!-- /pet -->
        <!-- pet -->
        <div class="col-lg-3 col-sm-6">
            <div class=" p-3 shadow rounded">
                <div class="wrapper-hover img-effect">
                    <a href="about">
                        <img loading="lazy" class="img-fluid rounded" src="petlove/img/advance.jpg" alt="">
                    </a>
                </div>
                <div class="pt-2 text-center adopt-wrapper">
                    <div class="mb-3">
                        <h3 class="h4">PROFICIENT</h3>
                        <span><strong>(Your Rhythmic Adventure)</strong></span>
                    </div>
                    <div>
                        <p class="align-text scroll-container">
                            <strong>1.Mastery</strong> of instrument and musical style, with a focus on subtlety and
                            finesse.<br>
                            <strong>2.Development</strong> of personal expression and interpretation, with a deep
                            understanding of the music.<br>
                            <strong>3.Preparation</strong> for professional performances, auditions, or music
                            competitions.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- /container-->
<div class="container-fluid bg-ligh position-relative bg-color4 ">
    <div class="container">
        <div class="row">
            <!-- parallax images-->
            <div class="col-xl-6 p-3 ">
                <img src="petlove/img/ABOUT.JPEG" alt="" class="rounded border border floating2 img-fluid parallax1">
                <!-- <div class="card col-md-8 text-center floating2 ">
                    <h4>Excellence</h4>
                    <p class=" ">Our goal is to provide a supportive and structured learning environment that
                        helps you achieve your musical goals.
                    </p>
                </div> -->
                <!-- /card -->
            </div>
            <div class="col-xl-6 my-auto p-5 mt-5">
                <span class="lead">How do i know my grade?</span>
                <h2>Determining Your Grade</h2>
                <h5>At your first lesson, our experienced instructors will:</h5>
                <ul class="list-unstyled ">
                    <li><i class="fa fa-map-marker margin-icon"></i> <strong>Assess your current skills and
                            knowledge</strong></li>
                    <li><i class="fa fa-map-marker margin-icon"></i> <strong>Evaluate your musical strengths and Areas
                            for improvement</strong></li>
                    <li><i class="fa fa-map-marker margin-icon"></i> <strong>Discuss your musical goals and
                            aspirations</strong></li>
                    <li><i class="fa fa-map-marker margin-icon"></i> <strong>Create a personalized learning plan
                            tailored to your needs</strong></li>
                </ul>
                <h5>
                    This assessment will help determine your placement in our grade levels:
                </h5>
                <ul class="list-unstyled ">
                    <li><i class="fa fa-map-marker margin-icon"></i> <strong>. Primer to Grade 2: Beginner level,
                            focusing on fundamental skills and basic techniques </strong></li>
                    <li><i class="fa fa-map-marker margin-icon"></i> <strong>Grade 3-4: Intermediate level, expanding
                            technical skills and introducing complex repertoire</strong></li>
                    <li><i class="fa fa-map-marker margin-icon"></i> <strong>Grade 5-7: Advanced level, refining
                            techniques and exploring advanced repertoire</strong></li>
                    <li><i class="fa fa-map-marker margin-icon"></i> <strong>Grade 8 and above: Proficient level,
                            mastering instrument and musical style, with a focus on subtlety and finesse</strong></li>
                </ul>
            </div>
        </div>
        <!-- /row-->
    </div>
    <!-- /container-->
</div>

<!-- /container-->
<div class="container-fluid bg-light theme-padding margin-top position-relative">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 my-auto p-md-5">
                <h4>Recital Examination & Assesment</h4>
                <p>
                    At the end of each session, both music theory and performance examinations are conducted. Regular
                    evaluations and assessments are essential to a student's musical growth and development. As part of
                    our efforts to ensure proper curriculum monitoring, progress level tracking and to ensure our
                    students have a blossoming development in music appreciation, assessment evaluations are conducted
                    monthly. Our recitals provide:
                </p>
                <ul class="custom no-margin">
                    <li><b>Performance Experience:</b> Opportunities to perform in
                        front of audiences, developing stage presence and confidence </li>
                    <li><b>Improved Skills:</b> Recitals help students refine
                        their musical skills, including technique, tone, and expression.</li>
                    <li><b>Motivation:</b> Performing in recitals motivates
                        students to practice and improve, setting goals and striving for excellence.</li>
                </ul>

                <!-- button -->
                <a href="contact" class="btn btn-primary">Contact us</a>
            </div>
            <!-- /col-->
            <!-- parallax images-->
            <div class="col-xl-6 p-3">
                <img src="petlove/img/Singing4.jpg" alt=""
                    class="rounded img-fluid parallax-img  border border-5 border-light">
                <img loading="lazy" src="petlove/img/about/Mockup.jpg" alt=""
                    class="rounded floating2 img-fluid parallax2 border border-5 border-light">
            </div>
            <!-- /parallax images-->
            <!-- /col-->
        </div>
        <!-- /row-->
    </div>
    <!-- /container-->
</div>