<div class="jumbotron margin-top mb-5">
    <div class="bg-overlay p-5 text-center">
        <div class="container p-0 p-md-5">
            <!-- page-title-->
            <h1 class="text-white">Programs</h1>
            <!-- breadcrumb -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Programs</li>
                </ol>
            </nav>
            <!--/breadcrumb -->
        </div>
        <!--/container-->
    </div>
    <!--/bg-overlay-->
</div>

<div class="container page">
    <div class="row">
        <div class="col-lg-5">
            <img loading="lazy" src="petlove/img/InClassroom3.jpg" alt="" class="img-rounded img-fluid">
        </div>
        <!-- /col-->
        <div class="col-lg-6 offset-lg-1 my-auto">
            <div class="mt-5 mt-lg-0">
                <span class="lead">We offer</span>
                <h3>Private/Home Lessons</h3>
                <p>Enjoy personalized music lessons at your convenience with flexible scheduling. Our private lessons
                    cater to individual needs, ensuring a fun and effective learning experience. </p>
                <ul class="custom no-margin mb-5">
                    <li>One-on-one instruction with experienced instructors
                    </li>
                    <li>Tailored to individual needs, goals, and learning styles</li>
                    <li>Flexible scheduling to accommodate busy schedules</li>
                    <li>Opportunities to focus on specific techniques, genres, or styles</li>
                </ul>
                <!-- button -->
                <a href="reg-form" class="btn btn-primary">Register</a>
            </div>
            <!-- /mt -->
        </div>
        <!-- /col-->
    </div>
    <!-- /row-->
</div>

<!-- /container-->
<div class="container-fluid bg-color4 theme-padding position-relative">
    <div class="container">
        <div class="row">
            <div class="col-xxl-6 my-auto p-4">
                <span class="lead">we offer</span>
                <h3>Group Classes</h3>
                <p class="fw-bold">Our well-equipped centers provide a range of programs across all instruments such
                    as
                    Ensemble Programs, Summer Camps, Holiday Lessons, etc.
                    With our 5:1 student-teacher ratio, our group lessons provide personalized attention for each
                    student, tailored instruction and feedback and increased engagement
                    . </p>
                <!-- list -->
                <ul class="custom no-margin">
                    <li>Personalized Attention: Tailored instruction and feedback for each student.</li>
                    <li>Collaborative Learning: Socialization and teamwork in a supportive environment</li>
                    <li>Small Class Sizes: Ensuring individualized attention and instruction.</li>
                    <li>Peer-to-Peer Learning: Opportunities to learn from and with fellow students.</li>
                    <li>Variety of Classes: Programs tailored to different ages, skill levels, and interests.</li>
                </ul>
                <!-- button -->
                <a href="reg-form" class="btn btn-primary">Register</a>
            </div>
            <!-- /col-->
            <!-- parallax images-->
            <div class="parallax-effect col-xl-6 p-5">
                <img loading="lazy" src="img/bgcontact.png" alt="" class="rounded img-fluid parallax1   border-light">
                <img loading="lazy" src="petlove/img/Singing1.jpg" alt=""
                    class="rounded img-fluid parallax2 border border-5 border-light">
            </div>
            <!-- /parallax images-->
            <!-- /col-->
        </div>
        <!-- /row-->
    </div>
    <!-- /container-->
</div>

<!-- /container-fluid-->
<div id="counter-section2" class="container-fluid zig-zag-bottom zig-zag-top parallax-bg">
    <div class="page">
        <!-- Counter starts -->
        <div id="counter" class="container">
            <div class="col-lg-10 offset-lg-1">
                <div class="row gx-5">
                    <!-- Counter -->
                    <div class="col-xl-4 pb-2 pb-xl-0" data-aos="zoom-in">
                        <div class="counter">
                            <!-- insert your final value on data-count= -->
                            <div class="counter-value plus" data-count="800">0</div>
                            <p class="title">Pets Adopted</p>
                        </div>
                        <!-- /counter -->
                    </div>
                    <!-- /col -->
                    <!-- Counter -->
                    <div class="col-xl-4 pb-2 pb-xl-0" data-aos="zoom-in" data-aos-delay="200">
                        <div class="counter">
                            <!-- insert your final value on data-count= -->
                            <div class="counter-value" data-count="40">0</div>
                            <p class="title">Volunteers</p>
                        </div>
                        <!-- /counter -->
                    </div>
                    <!-- /col -->
                    <!-- Counter -->
                    <div class="col-xl-4">
                        <div class="counter" data-aos="zoom-in" data-aos-delay="300">
                            <!-- insert your final value on data-count= -->
                            <div class="counter-value" data-count="22">0</div>
                            <p class="title">Years of experience</p>
                        </div>
                        <!-- /counter -->
                    </div>
                    <!-- /col-->
                </div>
                <!-- /row -->
            </div>
            <!-- /col-lg -->
        </div>
        <!-- /counter -->
    </div>
    <!-- /page-->
</div>

<!-- /container-fluid-->
<div class="container page">
    <div class="row g-5">
        <div class="col-lg-7 ">
            <img src="petlove/img/advance5.jpg" alt="" class="img-curved img-fluid mb-3">
        </div>
        <!-- /col-->
        <div class="col-lg-5 my-auto">
            <span class="lead">We offer</span>
            <h3>Online Classes</h3>
            <!-- list -->
            <p>
                A well-organized course with a clear syllabus, easy-to-find modules, and logical progression of content.
                A mix of multimedia elements like videos, audio clips, interactive quizzes, case studies, and real-world
                applications to keep students interested
            </p>
            <p>
                Our programs are designed to provide a well-rounded musical education, helping you achieve your goals
                and nurture your passion for music.
            </p>
            <a class="btn btn-primary" href="reg-form">Register</a>
        </div>
        <!-- /col-->
    </div>
    <!-- /row-->
</div>
<!-- /container-->