<!-- Section Call to Action 2 -->
<section id="call-to-action1" class="container-fluid small-section" data-center="background-position: 50% 0px;"
    data-top-bottom="background-position: 50% -20px;" data-bottom-top="background-position: 50% 20px;">
    <div class="container">
        <!-- card -->
        <div class="paper col-lg-5 offset-lg-1 text-center align-text">
            <h4>WELCOME NOTE!</h4>
            <p>Welcome to The Eagles Music Academy, where passion meets melody! Whether you're a beginner or
                a budding maestro, our expert instructors and dynamic programs will help you master your
                craft. From vocals to violin, piano to percussion—we make music come alive!</p>
            <!-- Buttons -->
            <div class=" mt-3">
                <a class="btn btn-primary" href="contact">Contact us</a>
            </div>
        </div>
        <!-- /card -->
    </div>
    <!-- /container-->
</section>
<!-- /section ends -->


<!-- Section Contact -->
<section id="contact" class="bg-lightcolor1 p-5 container-fluid nobg-small">
    <!-- Parallax object -->
    <div class="parallax-object1 d-none d-lg-block" data-0="opacity:1;" data-100="transform:translatex(-310%);"
        data-center-center="transform:translatex(30%);">
        <!-- Image -->
        <img src="img/birdornament.png" alt="">
    </div>
    <!-- Section heading -->
    <div class="section-heading margin1">
        <h2>Contact Us</h2>
        <!-- divider -->
        <div class="hr"></div>
    </div>
    <!-- Contact -->
    <div class="container">
        <div class="row">
            <!-- Contact Form -->
            <div class="col-lg-5">
                <!-- Form Starts -->
                <div id="contact_form">
                    <h4>We'd Love to Hear from You.</h4>
                    <div class="form-group">
                        <label>Name:</label><input type="text" name="name" class="form-control input-field" required="">
                        <label>Email:</label><input type="email" name="email" class="form-control input-field"
                            required="">
                        <label>Subject:</label><input type="text" name="subject" class="form-control input-field"
                            required="">
                    </div>
                    <label>Message:</label>
                    <textarea name="message" id="message" class="textarea-field form-control" required=""></textarea>
                    <button type="submit" id="submit_btn" value="Submit" class="btn btn-primary">Send
                        message</button>
                </div>
                <!-- Contact results -->
                <div id="contact_results"></div>
            </div>
            <div class="res-margin col-lg-6 offset-lg-1 h-100 card text-center">
                <h4>Information</h4>
                <div class="contact-info align-text">
                    <p><i class="fa fa-envelope margin-icon"></i><a href="eaglesmusicacademy@gmail.com">{{email}}</a>
                    </p>
                    <p><i class="fa fa-phone margin-icon"></i><a href="08060519424">Call us 0806-051-9424</a>
                    </p>
                    <p><i class="fa fa-map-marker margin-icon"></i> Suncity Center: 14 Ontario Crescent, Suncity
                        Estate
                    </p>
                    <p><i class="fa fa-map-marker margin-icon"></i> Apo Centre: House 15, Ofem Obama Road, CBN
                        Estate</p>
                    <p><i class="fa fa-map-marker margin-icon"></i> Gwarinpa Center: 37b Auwalu Anwar Cl,
                        Gwarinpa, 7th
                        Avenue
                        Abuja</p>
                    <p><i class="fa fa-map-marker margin-icon"></i>Wuse Center: 159 Aminu Kano Crescent,
                        Raberto,
                        Wuse
                    </p>

                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</section>
<!--/Section ends -->
<!--   Map    -->
<div class="container-fluid">
    <div id="map-canvas"></div>
</div>
<!--   /Map    -->