<!-- navigation -->
<nav class="navbar navbar-expand-xl fixed-top navbar-custom bg-color2">
    <div class="container">
        <div class="navbar-brand">
            <a href="index.html"><img class="w-100" src="petlove/img/White.png" alt=""></a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLo"
            aria-controls="navbarLo" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarLo">
            <ul class="navbar-nav ms-auto page-scroll">
                <li class="nav-item">
                    <a class="nav-link" href="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="courses"> Our Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="programs"> Our Programs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="tuition">Tuition</a>
                </li>
            </ul>
        </div>
        <!-- <a href="reg-form" class="btn btn-primary centered">Register</a> -->
    </div>
</nav>
<!-- /navigation ends -->